[MASTER]
load-plugins=pylint_django
django-settings-module=ChatBot.settings
ignore=migrations,myvenv,__pycache__
max-line-length=120

[MESSAGES CONTROL]
disable=
    missing-docstring,
    too-few-public-methods,
    no-member